.item{
    min-width: 20vw;
    text-align: center;
    color: #fff;
    background-color: #413468;
    border-radius: 10px;
    cursor: pointer;
}
.item:hover{
    scale: 1.04;
}
.item:active{
    background-color: #271554;
}
.item img{
    height: 30vh;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(2px 4px 6px black);
}
.item h2{
    font-size: 1.2rem;
    font-weight: 100;
}
.item p{
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.item button{
    margin-bottom: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: #271554;
    color: #fff;
    cursor: pointer;
}
.item button:hover{
    background-color: #413468;
}